<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Taskmate</title>
</head>

<body>
  <div>
    <form action="/tasks" method="POST">
      <input name="todo" placeholder="Enter task">
      <input name="description" placeholder="Description">
      <input type="date" name="deadline">
      <button type="submit">Create Task</button>
    </form>
  </div>
  <% for(const task of tasks) { %>
    <ul>
      <li>
        <input class="js-task-checkbox" type="checkbox" name="completed" data-task-id="<%= task._id %>" <%=(task.completed) ? "checked" : "" %>>
        <%= task.todo %> - <%= task.description %>
        <button class="js-delete-task" data-task-id="<%= task._id %>">Delete</button>
      </li>
    </ul>
    <% } %>
      <script>
        document.querySelectorAll(".js-task-checkbox").forEach(checkbox => {
          checkbox.addEventListener("change", function () {
            const { taskId } = this.dataset
            fetch(`/tasks/${taskId}`, {
              method: "PATCH",
              headers: {
                "Content-Type": "application/json"
              },
              body: JSON.stringify({ isCompleted: this.checked })
            })
          })
        })

        document.querySelectorAll(".js-delete-task").forEach((button) => {
          button.addEventListener("click", function() {
            this.closest("li").remove()
            const { taskId } = this.dataset
            fetch(`/tasks/${taskId}`, {
              method: "DELETE"
            })
          })
        })
      </script>
</body>

</html>